*{
    margin: 0;
    padding: 0;
}

body{
    background: url(./pic/bg-movies.jfif);
    height: 100vh;
}
.contant{
    background-color: aliceblue;
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    
}